<select name="baseball_team">
  <option value="" disabled="disabled" selected="selected">Please select favorite Baseball Team</option>
  <option value="none">NONE</option>
  <option value="" disabled="disabled">-=======AL Central=======-</option>
  <option value="orioles">Baltimore Orioles</option>
  <option value="red_sox">Boston Red Sox</option>
  <option value="yankees">New York Yankees</option>
  <option value="rays">Tampa Bay Rays</option>
  <option value="blue_jays">Toronto Blue Jays</option>
  <option value="" disabled="disabled">-=======AL Central=======-</option>
  <option value="white_sox">Chicago White Sox</option>
  <option value="indians">Cleveland Indians</option>
  <option value="tigers">Detroit Tigers</option>
  <option value="royals">Kansas City Royals</option>
  <option value="twins">Minnesota Twins</option>
  <option value="" disabled="disabled">-=======AL West=======-</option>
  <option value="astros">Houston Astros</option>
  <option value="angels">Los Angeles Angels</option>
  <option value="athletics">Oakland Athletics</option>
  <option value="mariners">Seattle Mariners</option>
  <option value="rangers">Texas Rangers</option>
  <option value="" disabled="disabled">-=======NL East=======-</option>
  <option value="braves">Atlanta Braves</option>
  <option value="marlins">Miami Marlins</option>
  <option value="mets">New York Mets</option>
  <option value="phillies">Philadelphia Phillies</option>
  <option value="nationals">Washington Nationals</option>
  <option value="" disabled="disabled">-=======NL Central=======-</option>
  <option value="cubs">Chicago Cubs</option>
  <option value="reds">Cincinatti Reds</option>
  <option value="brewers">Milwaukee Brewers</option>
  <option value="pirates">Pittsburgh Pirates</option>
  <option value="cardinals">St. Louis Cardinals</option>
  <option value="" disabled="disabled">-=======NL West=======-</option>
  <option value="diamondbacks">Arizon Diamondbacks</option>
  <option value="rockies">Colorado Rockies</option>
  <option value="dodgers">Los Angeles Dodgers</option>
  <option value="padres">San Diego Padres</option>
  <option value="giants">San Francisco Giants</option>
</select>