<select name="fb_team">
  <option value="" disabled="disabled" selected="selected">Please select favorite Football Team</option>
  <option value="none">NONE</option>
  <option value="" disabled="disabled">-=======AFC North=======-</option>
  <option value="ravens">Baltimore Ravens</option>
  <option value="bengals">Cincinnati Bengals</option>
  <option value="browns">Cleveland Browns</option>
  <option value="steelers">Pittsburgh Steelers</option>
  <option value="" disabled="disabled">-=======AFC South=======-</option>
  <option value="texans">Houston Texans</option>
  <option value="colts">Indianpolis Colts</option>
  <option value="jaguars">Jacksonville Jaguars</option>
  <option value="titans">Tennessee Titans</option>
  <option value="" disabled="disabled">-=======AFC East=======-</option>
  <option value="bills">Buffalo Bills</option>
  <option value="dolphins">Miami Dolphins</option>
  <option value="patriots">New England Patriots</option>
  <option value="jets">New York Jets</option>
  <option value="" disabled="disabled">-=======AFC West=======-</option>
  <option value="broncos">Denver Broncos</option>
  <option value="chiefs">Kansas City Chiefs</option>
  <option value="raiders">Oakland Raiders</option>
  <option value="chargers">San Diego Chargers</option>
  <option value="" disabled="disabled">-------------</option>
  <option value="" disabled="disabled">-=======NFC North=======-</option>
  <option value="bears">Chicago Bears</option>
  <option value="lions">Detroit Lions</option>
  <option value="packers">Green Bay Packers</option>
  <option value="vikings">Minnesota Vikings</option>
  <option value="" disabled="disabled">-=======NFC South=======-</option>
  <option value="falcons">Atlanta Falcons</option>
  <option value="panthers">Carolina Panthers</option>
  <option value="saints">New Orleans Saints</option>
  <option value="buccaneers">Tampa Bay Buccaneers</option>
  <option value="" disabled="disabled">-=======NFC East=======-</option>
  <option value="cowboys">Dallas Cowboys</option>
  <option value="giants">New York Giants</option>
  <option value="eagles">Philadelphia Eagles</option>
  <option value="redskins">Washington Redskins</option>
  <option value="" disabled="disabled">-=======NFC West=======-</option>
  <option value="cardinals">Arizona Cardinals</option>
  <option value="49ers">San Francisco 49ers</option>
  <option value="seahawks">Seattle Seahawks</option>
  <option value="rams">St. Louis Rams</option>
<!--   <input type="submit" value="Submit Favorite Teams"> -->
</select>