<select name="hockey_team">
  <option value="" disabled="disabled" selected="selected">Please select favorite Hockey Team</option>
  <option value="none">NONE</option>
  <option value="" disabled="disabled">-====Central Divison====-</option>
  <option value="blackhawks">Chicago Blackhawks</option>
  <option value="avalanche">Colorado Avalanche</option>
  <option value="stars">Dallas Stars</option>
  <option value="wild">Minnesota Wild</option>
  <option value="predators">Nashville Predators</option>
  <option value="blues">St. Louis Blues</option>
  <option value="jets">Winnipeg Jets</option>
  <option value="" disabled="disabled">-====Atlantic Divison====-</option>
  <option value="bruines">Boston Bruins</option>
  <option value="sabres">Buffalo Sabres</option>
  <option value="red_wings">Detroit Red Wings</option>
  <option value="panthers">Florida Panthers</option>
  <option value="canadiens">Montreal Canadiens</option>
  <option value="senators">Ottawa Senators</option>
  <option value="lightning">Tampa Bay Lightning</option>
  <option value="leafs">Toronto Maple Leafs</option>
  <option value="" disabled="disabled">-====Pacific Divison====-</option>
  <option value="ducks">Anaheim Ducks</option>
  <option value="coyotes">Arizona Coyotes</option>
  <option value="flames">Calgary Flames</option>
  <option value="oilers">Edmonton Oilers</option>
  <option value="kings">Los Angeles Kings</option>
  <option value="sharks">San Jose Sharks</option>
  <option value="canucks">Vancouver Canucks</option>
  <option value="" disabled="disabled">-====Metropolitan Divison====-</option>
  <option value="hurricanes">Carolina Hurricanes</option>
  <option value="jackets">Columbus Blue Jackets</option>
  <option value="devils">New Jersey Devils</option>
  <option value="islanders">New York Islanders</option>
  <option value="rangers">New York Rangers</option>
  <option value="flyers">Philadelphia Flyers</option>
  <option value="penguins">Pittsburgh Penguins</option>
  <option value="capitals">Washington Capitals</option>
</select>