<!DOCTYPE HTML>
<html>
  <head>
    <title>FanDash</title>
  </head>
<body>
  <div id="title">
    <h1><font color="grey">Fan</font><font color="3A9DDF">Dash</font></h1>
  </div>
<h3 class="logintext">Existing User? Login</h3>
<form class="login" action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username"/>
    <label for="password">Password:</label>
    <input type="password" name="password"/>
    <button class="button" type="submit">Login</button>
</form>

<h3 class="signuptext">New User? Sign up</h3>
<form class="loginuser" action="/signup" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username"/>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password"/>
     <br>
    <label for="password">Re-Type Password:</label>
    <input type="password" name="password1"/>
    <br>
    <br>
    <button class="button" type="submit">Sign Me Up!</button>
</form>


</body>
</html>